/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--text-color);
  font-family: var(--main-font-family);
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}



.decorated-zone {
  position: relative;
}

/* Элемент с текстом и декоративными псевдоэлементами, 
расположенный в правом верхнем углу */
.rec {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color, #ff0070);
  text-transform: uppercase;
  position: absolute;
  top: 12px;
  right: 21px;
}

/* Декоративный псевдоэлемент перед содержимым */
.rec::before {
  content: "REC";
  color: var(--accent-color, #ff0070);
  line-height: 24px;
}

/* Декоративный круглый элемент после содержимого */
.rec::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  z-index: 1;
}

/* Верхний правый декоративный элемент с рамками */
.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-inline-end: 1px solid var(--decor-color, #ff0070);
  border-block-start: 1px solid var(--decor-color, #ff0070);
}


/* Нижний левый декоративный элемент с рамками */
.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-inline-start: 1px solid var(--decor-color, #ff0070);
  border-block-end: 1px solid var(--decor-color, #ff0070);
}

/* Заголовок страницы с адаптивным размером шрифта и тенями */
.page__title {
  display: flex;
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--title-shadow-color);
}

/* Зона-header */
.cover {
  display: grid;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  block-size: 100vh;
  min-block-size: 668px;
}

.header {
  align-items: start;
}

/* Меню выбора темы в шапке */
.header__theme-menu {
  justify-self: end;
  margin-block: 65px;
}


/* Список кнопок в меню выбора темы */
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Стили кнопок в меню выбора темы */
.header__theme-menu-button {
  min-height: 26px;
  border: 0;
  padding: 0 13px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  color: var(--button-color);
  font-size: var(--main-font-size);
  line-height: 18px;
}

/* Стили для активной кнопки */
.header__theme-menu-button_active {
  outline: 1px solid var(--decor-color);
  pointer-events: none;
}

/* Стили для кнопки при наведении */
.header__theme-menu-button:hover {
  outline: 1px solid rgba(var(--button-color-rgb), 0.3);
}

/* Стили для кнопки в фокусе */
.header__theme-menu-button:focus {
  outline: none;
}

/* Стили для текстового блока с информацией */
.header__info-text {
  background: var(--accent-color, #ff0070);
  font-size: var(--main-font-size);
  line-height: inherit;
  color: var(--subtitle-color, #000028);
  margin-block: 55px;
  font-weight: 700;
}

/* Стили для кнопки, если фокус видим */
.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--decor-color);
}

/* Зона-main */

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

/* Секция внутри основного контейнера */
.content__section {
  display: grid;
  gap: 20px;
}

.content__section-title {
  color: var(--section-text-color);
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: inherit;
}

.content__info {
  color: var(--text-color);
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: inherit;
  font-family: var(--main-font-family);
}

.text__decoration {
  line-height: inherit;
  background: var(--accent-color, #ff0070);
  color: var(--subtitle-color, #000028);
  font-size: var(--main-font-size);
}

.content__list-items {
  display: grid;
  gap: 27px;
}

.content__article {
  display: grid;
  gap: 11px;
}

.content__advice-title {
  margin-block-end: 19px;
}

/* Сетка для галереи внутри секции */
.gallery__section {
  gap: 10px;
}

.content__subtitle {
  font-weight: 400;
}

.gallery__list {
  gap: 10px;
  display: grid;
}

/* Изображение в секции */
.gallery__image {
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
  display: block;
  object-fit: cover;
}

/* Зона-footer */

.footer {
  place-items: center;
}

/* Сброс стилей в состоянии фокуса при наведении мышкой */
.text__link:focus {
  outline: none;
}

/* Стили для ссылки при видимом фокусе */
.text__link:focus-visible {
  outline: 1px solid var(--text-color);
}

/* Ссылка с текстом, без подчеркивания и с декоративной тенью */
.text__link {
  text-decoration: none;
  text-shadow: 1px 2px 0 var(--title-shadow-color);
}


/* Стили для ссылки при наведении */
.text__link:hover {
  border-block-end: 1px solid var(--text-color);
}


/* Стили для экранов с шириной от 768px */
@media (width >=768px) {
  .rec {
    top: 20px;
    right: 28px;
  }
  .content__article {
    gap: 10px;
  }

  .cover {
    min-block-size: 1024px;
  }

  .header {
    padding-inline-start: 0;
  }

  .content__list-items {
    gap: 24px;
  }

  .page__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__info-text {
    justify-self: end;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
  }

  .header__theme-menu {
    margin-block-start: 170px;
    margin-block-end: 70px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .content__section {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
    gap: 20px;
  }

  .main__what-lists {
    grid-column-start: span 2;
  }

  .gallery__section {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 20px;
    width: 100%;
    height: 100%;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .content__info {
    padding-right: 2px;
  }

  .header__title {
    margin-inline-start: 0;
  }

}


/* Стили для экранов с шириной от 1024px */
@media (width >=1024px) {

  .cover {
    min-block-size: 768px;
  }

  .content__section {
    column-gap: 30px;
  }

  .main__what-lists {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__theme-menu {
    justify-self: center;
    margin-inline-start: 20px;
    margin-block-start: 0;
    margin-block-end: 215px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content__info {
    padding-right: 0px;
  }

  .header__title {
    margin-inline-start: 0px;
  }
  .main__section-lists {
    gap: 23px;
  }
}